


.main-content {
  height: 100vh; /* 72px is the height of the Navbar */
  overflow-y: auto;
  overflow-x: auto;


}


body {
  overflow: hidden;
}

.page-content{
  width: 110% !important;
}


/* scrollbar styles */

/* Set styles for the thumb */
::-webkit-scrollbar-thumb {
  background-color: #472890ad;
  border-radius: 10px;
}

/* Set styles for the track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Set styles for both the thumb and the track */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
