<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/99d4a4ab-dcc4-4ab2-864d-498a21a307b7/resourceGroups/Assetflow/providers/Microsoft.Web/sites/assetflow</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assetflow.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ed532c98-9fcc-4a84-8190-c36f6da641ae</ProjectGuid>
    <PublishUrl>https://assetflow.scm.azurewebsites.net/</PublishUrl>
    <UserName>$assetflow</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>