.notification .badge {
    background-color: #ff615a !important;
}

.form-inline {
  width: 40vw;
  margin: 0vw 5vw;
}

.dropdown-toggle::after {
  display: none !important;
}

img.rounded-circle {
  width: 50px;
  height: 50px;
  border: 2px solid #482890;
}

.dropdown-toggle svg {
  margin-top: 10px;
}

.as-nav {
  background-color: none;
  padding-block: 2em;
}

.searchbar{
    padding: 0.6em 1em !important;
}

.top-bar{
  padding-bottom: 1vh;
  border-bottom:1px solid #00000050; ;
}

.dark-theme .top-bar{
  border-bottom:1px solid #ffffff50; ;
}

.dark-theme .dropdown-menu{
  background-color: #000000 !important;
}

.dark-theme .dropdown-item:hover{
  background-color: #1f0a3a !important;
}