


.Custom_Card {
    border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
    /* Add any other necessary styling */
  }

  .Asset_name {
    width: 100%;
    height: 60px;
    background-color: #b695c0;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;

    /* Add any other necessary styling */
  }

  .Ellipseicon-cantainer{
    display: flex;
    justify-content: flex-end;
    margin-right: 7px;
  }

  
